.button-container {
  display: flex;
}

.button-container__button {
  background: none;
  border: none;
  color: #fff;
  flex: 1;
}

.button-container__button__text {
  font-size: 0.9rem;
}

.button-container__button:hover {
  cursor: pointer;
}

.button-container--bg-color--primary {
  background-color: #5152f4;
}

.button-container--bg-color--secondary {
  background-color: #f47f51;
}

.button-container--bg-color--transparent {
  background-color: transparent;
}

.button-container--bg-color--transparent .button-container__button__text {
  color: #161616;
}

.button-container--success {
  background-color: #4bb543;
}

.button-container--block {
  flex: 1;
}

.button-container--fit-content {
  padding: 0 32px;
  width: fit-content;
}
