.button-container {
  display: flex;
}

.button-container--normal {
  background-color: #5152f4;
}

.button-container--success {
  background-color: #4bb543;
}

.button-container__button {
  background: none;
  border: none;
  color: #fff;
  flex: 1;
}

.button-container__button__text {
  font-size: 0.9rem;
}

.button-container__button:hover {
  cursor: pointer;
}
